@font-face {
  font-family: 'oldstyle';
  src: url('../fonts/oldstyle.ttf');
}

@keyframes slow-down {
  0% {
    margin-top: -4rem;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes fade-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    width: 30vw;
  }
  90% {
    width: 50vw;
  }
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: black;
  color: white;
  font-family: 'oldstyle', serif;
}

a,
a:visited {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

img:not(.overlayImage) {
  cursor: pointer;
  transition: transform 1s;
  animation: fade-appear 3s 1;
}

img:not(.overlayImage):hover {
  transform: rotate(1deg) scale(1.05);
}

h1,
h2,
h3 {
  animation: fade-appear 1s 1, slide-from-left 1s 1;
}

h1 {
  margin: 0;
  font-size: 4rem;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

header > a {
  color: black !important;
}

section.main {
  display: flex;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  transition: blur 1s;
}

section.main.blur {
  filter: blur(3px);
}

aside.menu {
  width: 0;
  min-height: 100vh;
  text-transform: uppercase;
  text-align: right;
  padding: 0 20px;
  transition: width 1s;
  overflow: hidden;
}

aside.menu:before {
  position: relative;
  top: 10px;
  content: '\25b2';
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(90deg);
  transition: transform 1s;
}

aside.menu:hover {
  width: 10vw;
}

@media (max-width: 767px) {
  aside.menu {
    background-color: black;
    position: absolute;
    z-index: 2;
  }
  aside.menu:hover {
    width: 50vw;
  }
  main {
    position: relative;
    z-index: 1;
    margin-left: 40px;
    min-width: 80vw;
  }
}

aside.menu:hover:before {
  transform: rotate(180deg);
}

aside.menu nav {
  margin-top: 10vh;
  width: 100%;
  opacity: 0;
  transition: opacity 1s;
}

aside.menu:hover nav {
  opacity: 1;
}

aside.menu nav li {
  display: block;
  width: 100%;
  height: 5rem;
  transition: transform 1s;
}

aside.menu nav ul {
  margin: 0;
  padding: 0;
}

aside.menu nav li a {
  display: block;
  width: 100%;
  height: 5rem;
  font-size: 1.7rem;
  transition: text-shadow 1s, bold 1s, transform 1s;
  text-align: right;
}

aside.menu nav a:hover {
  transform: translate(-10px, -0);
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

main {
  overflow: hidden;
  min-height: 100vh;
  background-color: white;
  color: black;
  padding: 0 20px;
  max-width: 100vw;
  font-size: 1.2rem;
  width: 50vw;
  animation: slide-from-left 1s 1;
}

.body-content > p > a {
  text-decoration: underline;
  color: black;
}

aside.social {
  animation: fade-appear;
  min-height: 100vh;
  flex-grow: 3;
  max-width: 40vw;
  padding-left: 1vw;
  padding-top: 1vw;
}

div.overlay {
  cursor: pointer;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes left-to-zero {
  0% {
    left: -1000px;
  }

  100% {
    left: 0;
  }
}
img.overlayImage {
  position: absolute;
  left: 0;
  margin-top: 5vh;
  margin-left: 10vw;
  animation: left-to-zero 2s 1;
}

div.closeButton:before {
  font-family: arial, sans-serif;
  font-size: 5rem;
  content: '\2297';
  color: white;
  position: absolute;
  right: 1vw;
  top: 1vh;
}
