<header>
  <h1><a href="/">Herzuull</a></h1>
  <nav>
    <ul>
      <li class="nav"><a href="/" class="<%= (type === 'index') ? 'active' : ''; %>">home</a></li>
      <li class="nav"><a href="/drawings" class="<%= type === 'drawings' ? 'active' : ''; %>">drawings</a></li>
      <li class="nav"><a href="/games" class="<%= type === 'games' ? 'active' : ''; %>">games</a></li>
      <li class="nav"><a href="/cv" class="<%= type === 'cv' ? 'active' : ''; %>">curriculum vitae</a></li>
    </ul>
  </nav>
</header>
