<!DOCTYPE html!>
<html>
  <head>
    <link rel="stylesheet" href="./css/index.min.css" />
    <script src="./js/index.min.js"></script>
  </head>
  <body>
    <main>
      <% include ./partials/header %>
      <main>
        <section>
          <%- body %>
        </section>
        <aside>
          <div>
          </div>
        </aside>
      </main>
      <% include ./partials/footer %>
    </main>
  </body>
</html>
