<!DOCTYPE html!>
<html>
  <head>
    <link rel="stylesheet" href="./css/index.min.css" />
    <script src="./js/index.min.js"></script>
    <title><%= title %></title>
  </head>
  <body style="background-image: url(<%= illustration.main.url %>)">
    <main>
      <% include ./partials/header %>
      <content>
        <section>
          <%- body %>
        </section>
        <aside>
          <div>
          </div>
        </aside>
      </content>
      <% include ./partials/footer %>
    </main>
  </body>
</html>
