@font-face {
  font-family: 'oldstyle';
  src: url('../fonts/oldstyle.ttf');
}
html, body {
  font-size: 12px;
  color: black;
}

body {
  font-family: 'oldstyle';
  main {
    width: 1024px;
    display: block;
    position: relative;
    margin: 0 auto;
    header {
    }
    a {
      text-decoration: none;
      color: black;
    }
    h1 {
      font-family: 'oldstyle';
    }
  }
}
