<nav>
    <ul>
        <li>
            <a href="{{menu.home.slug}}" title="menu">{{menu.home.title}}</a>
        </li>
        <li>
            <a href="{{menu.arts.slug}}" title="arts">{{menu.arts.title}}</a>
        </li>
        <li>
            <a href="{{menu.games.slug}}" title="games">{{menu.games.title}}</a>
        </li>
        <li>
            <a href="{{menu.contact.slug}}" title="contact">{{menu.contact.title}}</a>
        </li>
        <li>
            <a href="/locale/en" title="Change to EN">
                {% if locale == "en" %}<strong>{% endif %}
                    EN
                {% if locale == "en" %}</strong>{% endif %}
            </a> / 
            <a href="/locale/fr" title="Change to FR">
                {% if locale == "fr" %}<strong>{% endif %}
                    FR
                {% if locale == "fr" %}</strong>{% endif %}
            </a>
        </li>
    </ul>
</nav>