<!doctype html>

<html lang="{{ locale }}">
    <head>
        <title>Herzuull - Kévin Goualch</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/index.css" />
        <script src="./js/index.js"></script>
    </head>
    <body>
        <section role="main" class="main">
            <aside class="menu">
                {% include "./sections/menu.html" %}
            </aside>
            <main>
                {% include './sections/header.html' %}
                {% block body %}{% endblock %}
            </main>
            <aside class="social">
                {% include "./sections/social.html" %}
            </aside>
        </section>
    </body>
</html>
